Package: com.sucsoft.ffh4x
Name: SucSoftFFH4X
Depends: mobilesubstrate
Version: 1.0.0
Architecture: iphoneos-arm
Description: Painel Regedit Premium iOS por Gomes
Maintainer: SucSoft
Author: Gomes
Section: Tweaks
