Package: com.spacexit.premium
Name: Space Xit - Mod Streamer
Depends: mobilesubstrate
Version: 2.0.1
Architecture: iphoneos-arm
Description: Bypass Total, Anti-Blacklist e Modo Streamer (Invisível em Gravações)
Maintainer: Gomes (@eoo_gomes3)
Author: Space Xit
Section: Tweaks
v
